.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: #05f311;
  float: right;
  font-size: 11px;
  text-align: left;
}

.post-block {
  font-size: 24px;
  height: 225px;
  width: 500px;
  margin: auto;
  background: rgb(52, 110, 4);
  float: center;
  text-align: center;
}

.comment-block {
  font-size: 24px;
  height: 100px;
  width: 400px;
  margin: auto;
  background: rgb(250, 250, 3);
  float: center;
  text-align: center;
}

.post-form {
  font-size: 24px;
  height: 300px;
  width: 400px;
  margin: auto;
  background: rgb(252, 250, 250);
  float: left;
  text-align: left;
}
h1 {
  font-size: 40px;
}