.App {
  text-align: center;
  background-image: 'https://unsplash.com/photos/hqStjd1C3vk';
  background-size: 30px;
}

.index{
  background-image: url(https://unsplash.com/photos/hqStjd1C3vk);
  background-size: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}




.block {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: #41f74a;
  float: right;
  font-size: 11px;
  text-align: left;
}

.post-block {
  font-size: 24px;
  height: 250px;
  width: 500px;
  margin: auto;
  background: rgb(189, 187, 186);
  float: center;
  text-align: center;
}

div.postlikes p, div.postlikes button {
  text-align: center;
}

.comment-block {
  font-size: 24px;
  height: 150px;
  width: 400px;
  margin: auto;
  background: rgb(250, 3, 15);
  float: center;
  text-align: center;
}

.post-form {
  font-size: 24px;
  height: 400px;
  width: 400px;
  margin: auto;
  background: rgb(252, 250, 250);
  float: left;
  text-align: left;
}
h1 {
  font-size: 40px;
}